/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #2c2f33; /* Gris anthracite */
  color: #ffffff; /* Texte blanc pour le contraste */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-transform: capitalize; /* Met les noms des Pokémon avec la première lettre en majuscule */
}

h1 {
  color: #FF0000;
  text-align: center;
}